.fullmenu {
  display: block !important;
  position: fixed;
  background-color: green;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  max-width: 100%;
  top: 0;
}
 
.header__nav {
  display: flex;
  justify-content: space-evenly
  ;

  .call {
    display: flex;
    color: #e0e0e0;
    font-size: 17px;

    .call__number {
      color: #e0e0e0;
    }

    @media(max-width: 991px){
      font-size: 21px;
    }

    @media(min-width: 991px){
      padding-bottom: 5px;
      margin-top: 5px;
      padding-left: 10px;
    }
   }

  #navbarSupportedContent {
    .nav__menu {
      margin: 0;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;
  
      .active {
        .nav__link {
            .nav__underline {
              display:inline-block;
              border-bottom:1px solid white;
              padding-bottom:2px;
            }
          }
      }
  
      .dropdown {
        .nav__link {
          &:after {
            display: none;
          }
        }
        &:hover {
          .dropdown-menu {
            display: block;
          }  
        }
        .dropdown-menu {
          background: url(../images/bg_menu.png);
          padding-left: 2px;
          border:  0;
          margin: 0 !important;
          top: 40px !important;

          .dropdown-item {
            color: white;
            height: 34px;

            &:hover {
              background-color: #2d3033 !important;

              span {
                display:inline-block;
                border-bottom:1px solid white;
                padding-bottom:1px;
              }
            }
          } 
        }
      }

      .nav__item {
        list-style: none;
        cursor: pointer;
        float: left;
        font-size: 17px;
        height: 48px;
        text-transform: uppercase;
        margin-left: 20px !important; ///

        @media(min-width: 1140px){
          margin-left: 30px !important;
        }

        &:first-child {
          @media(min-width: 1140px) and (max-width: 1400px){
            margin-left: 0 !important;
          }
        }
  
        .nav__link {
          color: #e0e0e0;
  
          &:hover {
            .nav__underline {
              display:inline-block;
              border-bottom:1px solid white;
              padding-bottom:2px;
            }
          }
        }
      }
    }

    @media(max-width: 992px){
      display: none;
    }
  }
}