.footer {
  border-top: 1px solid #c7cac6;
  padding: 50px 0 20px 0;

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__giftplatz {
    font-size: 13px;
    padding-top: 60px;
    text-align: center;

    @media(max-width:575px){
      padding-top: 30px;
    }
  }

  .footer__container {
    .footer__row {
      .footer__contacts {
        .contacts__title {
          font-size: 16px;
        }
        .contacts__ul {
          padding: 0;
          margin: 0;

          .contacts__item {
            list-style: none;
            padding-top: 10px;
            color: rgba(45, 48, 51, 255);
            font-size: 13px;
          }

          .contacts__item--social {
            .social__box {
              a {
                img {
                  width: 33px;
                } 
              }
            }
          }
        }
      }
      .footer__map {
        @media(max-width:575px){
          display: none;
        }

        .map__title {
          font-size: 16px;
        }
  
        .map__ul {
          padding: 0;
          margin: 0;

          .map__item {
            list-style-type: none;
            padding-top: 8px;
            font-size: 13px;

            a {
              color: rgba(76, 80, 83, 255);
              text-transform: uppercase;
            }
          }
        }
      }

      .footer__subscribe {
        @media(max-width:991px){
          padding-top: 50px;
        }

        .subscribe__title {
          font-size: 16px;
          color: rgba(76, 80, 83, 255);
        }

        .subscribe__box {
          display: flex;
          flex-wrap: wrap;
          padding: 25px 0;

          @media(max-width:575px){
            flex-direction: column;

            input {
              width: 100% !important;
              margin-bottom: 20px;
            }

            .subscribe__button {
              width: 100% !important;
              padding: 13px 0;
            }
          }

          @media(max-width:991px){
            padding: 20px 0 25px 0;
          }

          input {
            width: 70%;
            padding: 10px;
            border: 1px solid grey;
            color: #4c5053;
            font-size: 13px;
            order: 1;
          }

          .invalid-feedback {
            order: 3;
            flex-basis: 100%;
          }
  
          .subscribe__button {
            width: 30%;
            // padding: 10px;
            border: 0;
            background-color: #2d3033;
            color: rgba(255, 255, 255, 255);
            font-size: 13px;
            order: 2;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        #subscribeModal {
          @media(max-width: 575px) {
            margin: 0;
          }
          .modal-dialog {
            .modal-content {
              background-color: #2d3033;
              color: white;
              outline: 5px solid #2d3033;
              border: 1px solid #999;                            
        
              .modal-header {
                border-bottom: none;
        
                .modal-title {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  padding-top: 20px; 
                  
                  img {
                      width: 50%;
                  }
                }
        
                .close {
                  width: 30px !important;
                  font-size: 30px !important;
                  position: absolute;
                  top: 10px;
                  right: 30px;                
        
                  span {
                      color: white;
                  }
                }
              }
        
              .modal-body {
                text-align: center;
                text-transform: uppercase;
                padding-top: 25px;
                padding-bottom: 50px;
              }
            }
          }
        }
        
        .subscribe__logo {
          width: 130px;
          
          @media(max-width:575px){
            text-align: center;
            padding-top: 20px;
          } 

          img {
            width: 100%;
          }
        }
      }
    }
  }
}

