#PhoneMenu.modal.fade
  .modal-dialog.modal-full
    .modal-content
      .modal-header
        .header__logo
          include ../../images/logo.svg
        button#phoneMenuClose.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') X
      #result.modal-body
        ul.modal__list
          li.modal__item
            a.modal__link(href='index.html') Главная
          li.modal__item
            a.modal__link(href='assortment.html') Ассортимент
          li.modal__item.dropdown
            a#navbarDropdown.modal__link.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Корпоративные подарки
            .dropdown-menu
              a.dropdown-item.dropdown-item--mob(href='ddtest.html') Корпоративные подарки 1
              .dropdown-divider
              a.dropdown-item.dropdown-item--mob(href='#') Корпоративные подарки 2
              .dropdown-divider
              a.dropdown-item.dropdown-item--mob(href='#') Корпоративные подарки 3
          li.modal__item
            a.modal__link(href='pack.html') Упаковка
          li.modal__item
            a.modal__link(href='contacts.html') Контакты 