doctype html
html(lang="ru")
  head
    include ../blocks/head/head.pug
  body 
    block content
      block header
        include ../blocks/header/header.pug
      block section   
      block footer
        include ../blocks/footer/footer.pug
        