mixin product-item(id, paragraph, title, href)
  a.productbox.product__box#productbox(href= href)
    .productbox__image(id= id)
      .productbox__paragraph= paragraph
    .productbox__title
      h3= title
        