@font-face {
  font-family: "Didona";
  font-weight: normal;;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Didona.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  font-weight: normal;;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Roboto-Light.ttf") format("opentype");
  font-display: swap;
  
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: normal;;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: normal;;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("opentype");
  font-display: swap;
}
