.main
    .header
        .header__logo
            //- img(src="../images/logo_new.png", alt="")
            //- img(src="../images/svg.svg", alt="")
            include ../../images/logo.svg
        a.header__burger(href='#PhoneMenu', role='button', data-toggle='modal')
            include ../../images/menu.svg
        include ../phone-menu/phone-menu.pug
        include ../nav/nav.pug
    block title