extend ../partials/page.pug
block title
  .titlebox
    h1.titlebox__title
      | ШОКОЛАД
    h3.titlebox__subtitle
      | и не только... 
  //- .scrollbox
  //-   include ../images/scroll.svg
  //-   include ../images/arrow_down.svg
  //-   p
  //-     | Узнать больше
       
block section
  .about
    .about__box.container
      .about__wrapper.row
        .about__imagebox.imagebox.col-xl-5.col-lg-6.col-md-12
          .imagebox__wrapper
            img.imagebox__photo(src="../images/about.png", alt="")
        .about__text.col-xl-7.col-lg-6.col-md-12
          h2
            | О НАС
          p
            | Компания GiftPlatz занимается разработкой и производством оригинальных подарков.
          p.second__paragraph
            | В основе каждого подарка GiftPlatz – вкус и в первую очередь это вкус шоколада. 
            | Мы сами производим шоколад, используя лучшее импортное сырье и необычные рецепты.
          p.second__paragraph
            | Мы создаем концепцию подарка индивидуально для каждого клиента. Подбираем все 
            | составляющие, изготавливаем под каждый подарок упаковку и полиграфические материалы.  
            | У нас собственное производство упаковки, подарочных коробок, открыток и пакетов.
          p.second__paragraph
            | Своим  клиентам мы всегда готовы предложить стильные и практичные идеи.
          p.second__paragraph
            | С нами вы не окажетесь в нелепой ситуации обмена ненужными сувенирами с партнерами. 

  .actual
    .actual__wrapper.container
      include ../blocks/titlebox/titlebox
      +titlebox('Актуальное сейчас')
      .actual__assortment.row
        include ../blocks/product-item/product-item

        .product-item.product.col-lg-4.col-xl-4.col-md-6
          +product-item('product__image-1', 'dddddddddddddddddd', 'Шоколад')


        .product-item.product.col-lg-4.col-xl-4.col-md-6
          +product-item('product__image-2', 'Абсолютно черный. Максимально ароматный! В подарочной коробке вы найдете термокружку черного цвета с покрытием soft-touch, которая прекрасно подойдет для приготовления горячего шоколада - он тоже есть в наборе. Также мы добавили миниатюры ликеров, которые украсят вкус напитка, и наш фирменный шоколад «Рокки-роуд». Несколько проверенных рецептов горячего шоколада внутри.', 'Строгий подарок в брутальном стиле.')


        .product-item.product.col-lg-4.col-xl-4.col-md-6
          +product-item('product__image-3', 'Стильный подарок, который наполнит дом духом Нового года и создаст праздничное настроение! Мы приготовили для вас настольную лампу в виде ёлки, аромадиффузор с успокаивающим ароматом ели, а на десерт — наш фирменный шоколад. Диффузор представляет собой стеклянную емкость с парфюмированной жидкостью и ароматическими палочками. Композиция аромата: яркие хвойные ноты, древесные акценты и легкий шлейф из ароматов лесных растений. Набор упакован в подарочную коробку.', 'Впустите праздник в свой дом!')


        .product-item.product.col-lg-4.col-xl-4.col-md-6
          +product-item('product__image-4', 'Инновационная разработка современных технологов - настольный светильник с левитирующей лампочкой, которая висит и вращается в воздухе. Также в наборе зерновой кофе и шоколадные конфеты. Подарок упакован в подарочную коробку с ложементом. ', '«Энергия Нового года» - подарок, который поразит!')


        .product-item.product.col-lg-4.col-xl-4.col-md-6
          +product-item('product__image-5', 'dddddddddddddddddd', 'Шоколад')


        .product-item.product.col-lg-4.col-xl-4.col-md-6
          +product-item('product__image-6', 'Современная замена подарочной продуктовой корзине! Это душевный подарок с заботой и вниманием. Только представьте, как приятно будет открыть его в новогоднюю ночь! В шикарной подарочной коробке с твердым ложементом вы найдете алкогольный напиток и ассорти шоколада и орехов в шоколаде, упакованных в отдельные картонные коробки и жестяные банки.', 'Набор первой необходимости для празднования Нового года')

        .product-item.product.col-lg-4.col-xl-4.col-md-6
          +product-item('product__image-2', 'Ни одно празднование Нового года не обходится без украшения ёлки. Этот корпоративный подарок понравится любителям необычных ёлочных игрушек и творческим натурам.Мы приготовили для вас два вида игрушек: резные из дерева и съедобные из шоколада. Резные деревянные игрушки подходят для росписи красками.', 'Для творческих натур: сделайте ёлочные игрушки сами!')
          
            